<div th:fragment="menu">
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="/">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="#people-fill"></use>
            </svg>
            <ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Dashboard " data-translation="Раздел1" data-ch="0" data-type="trSpan" style="visibility: inherit !important;" data-selected="false">  Раздел1 </ya-tr-span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="/organizations">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="#buildings"></use>
            </svg>
            <ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Orders " data-translation=" Раздел2 " data-ch="0" data-type="trSpan" style="visibility: inherit !important;" data-selected="false"> Раздел2 </ya-tr-span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="/departaments">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="#building"></use>
            </svg>
            <ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Products " data-translation=" Раздел3 " data-ch="0" data-type="trSpan" style="visibility: inherit !important;" data-selected="false"> Раздел3 </ya-tr-span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="/receptions">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="#headset"></use>
            </svg>
            <ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Customers " data-translation=" Раздел4 " data-ch="0" data-type="trSpan" style="visibility: inherit !important;" data-selected="false"> Раздел4 </ya-tr-span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="/cities">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="#pin-map"></use>
            </svg>
            <ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Reports " data-translation=" Раздел5 " data-ch="0" data-type="trSpan" style="visibility: inherit !important;" data-selected="false"> Раздел5 </ya-tr-span>
        </a>
    </li>
</ul>
</div>